@import "variables";

.search-history {
	align-self: center;
	margin: 100px 0;
}

.search-history__title {
	font: {
		size: 24px;
		weight: 600;
	}
	margin-bottom: 10px;
}

.search-history__container {
	input {
		font: {
			size: 18px;
			weight: 400;
		}
	}
	display: grid;
	grid-template-columns: repeat(4, auto);
	column-gap: 50px;
	row-gap: 10px;
	justify-items: flex-start;
	@media screen and (max-width: $mobile) {
		grid-template-columns: repeat(1, auto);
		justify-items: center;
	}
}
